@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.PageTitle = "Category list";
}

<h1>@ViewBag.PageTitle</h1>
<br />

@if (ViewBag.Message != null)
{
    <h2 class="alert-succes p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

@foreach(var category in ViewBag.Categories)
{
    <h2>@category.CategoryName</h2>
    <br /> <br />
}


