@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container text-center mt-5">

<h1 class="TF_text">@ViewData["Title"]</h1>
<br />
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="TF_text">
    <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn TF_submit_btn">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
</div>

