html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #03071E;
}

/*
Navbar Classes
*/
.logo {
    width: 150px;
    height: auto;
}

.navbar {
    background-color: #FAA307 !important;
    border: none !important;
    box-shadow: 0 3px 12px #9D0208 !important;
}

a.nav-link {
    color: #2c2c2c !important;
    font-weight: bold;
}

    a.nav-link:hover {
        color: #DC2F02 !important;
    }

button.nav-link {
    color: #2c2c2c !important;
    font-weight: bold;
}

    button.nav-link:hover {
        color: #DC2F02 !important;
    }

.logoutbtn {
    color: #2c2c2c !important;
}

    .logoutbtn:hover {
        color: #00b894 !important;
    }

/*
Footer Classes
*/
.TF_footer {
    background-color: #FAA307 !important;
    border: none !important;
    box-shadow: 0 3px 12px #9D0208 !important;
}

.TF_footer_content {
    color: #2c2c2c !important;
    font-weight: bold;
}

/*Group show classes*/

.container-show-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.7fr 1.3fr 1fr;
    gap: 0px 50px;
    grid-auto-flow: row;
    grid-template-areas:
        "Group Channel"
        "Channels Comments"
        "Channels Comments";
    height: 600px;
}

.Channels {
    grid-area: Channels;
    overflow: auto;
}

.Group {
    grid-area: Group;
}

.Channel {
    grid-area: Channel;
}

.Comments {
    grid-area: Comments;
    overflow: auto;
}

/* General */

.TF_text {
    color: white;
}

.TF_container {
    border-radius: 10px;
    border: 2px solid solid rgba(255, 255, 255, 0.18);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 15px;
}

button.TF_submit_btn {
    color: #2c2c2c !important;
    font-weight: bold;
    background: #F48C06;
}


    button.TF_submit_btn:hover {
        color: forestgreen !important;
        font-weight: bold;
        background: #FFBA08;
        box-shadow: 10px 10px 70px 0px rgba(3,158,42,1);
    }